@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: "Montserrat", sans-serif; 
    transition: all ease 1600ms;
    background-image: url('./media/download.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color:white;
    text-transform: uppercase
}
.l {
    background-color: aqua;
}
.overlay{
    position: absolute;
    width : 100%;
    height : 100%;
    top:0;
    bottom : 0;
    background-color: rgba(24, 23, 23, 0.7);
}
.header {
    margin-top : 5%;
}
.header1 {
    margin-top : 5%;
}
.textl {
    background-color: rgb(43, 43, 202);
    border-radius: 25px;
    transition: all ease 600ms;
    color: white
}


.temp{
    font-size : 100px;
}
.textl:hover {
    background-color : whitesmoke;
    box-shadow: black;
}
.textar {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color : white;
}
.span{
    font-size: 50px;
}
.weather {
    text-align : right;
}
.weather2 {
    text-align:left;
}
@media screen and (max-width : 720px){
    .weather {
        text-align: center
    }
    .weather2 {
        text-align : center
    }
    .temp {
        font-size : 50px;
    }
}
